body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  section {
    flex: 1;
  }
  
  .card.selecionado {
    border: 2px solid blue;
  }
  
  @media (min-width: 768px) {
    .h-form {
      height: 100vh !important;
    }
  }
  